@charset "utf-8";

.pagination li.active {
	background-color: rgb(238, 110, 115);
}

a.button-collapse.top-nav {
    left: -3%;
}

a.button-collapse.top-nav i {
    font-size: 25px;
}

table tr td {
    line-height: 50px;
    height: 50px;
}

#keywords {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.side-nav li {
    font-size: x-large;
}
