<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>诗词古韵</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="__PUBLIC__/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="__PUBLIC__/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="light-red  lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="__ROOT__/index.php" class="brand-logo"><i
            class="material-icons left">cloud</i>古韵课堂</a>
        <ul class="right hide-on-med-and-down">
            <li class="active"><a href="__ROOT__/index.php">网站主页</a></li>
            <li><a href="__ROOT__/index.php/Home/Dictionary">诗绸之路</a></li>
            <li><a href="#!">经典文学</a></li>
            <li><a href="__ROOT__/index.php/Home/About">关于我们</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li class="active"><a href="__ROOT__/index.php">网站主页</a></li>
            <li><a href="__ROOT__/index.php/Home/Dictionary">诗绸之路</a></li>
            <li><a href="#!">经典文学</a></li>
            <li><a href="__ROOT__/index.php/Home/About">关于我们</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>