<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" href="__PUBLIC__/css/ghpages-materialize.css">
    <link rel="stylesheet" href="__PUBLIC__/css/mystyle.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header>
    <div class="">
        <nav class="nav top-nav red" style="padding-left: 5px; padding-right: 5px">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo hide-on-small-only"><i class="material-icons">cloud</i>Logo</a>
                <ul class="right hide-on-med-and-down" id="top-menu">
                    <li><a href="#!"><i class="material-icons">search</i></a></li>
                    <li><a href="#!"><i class="material-icons">view_module</i></a></li>
                    <li><a href="#!"><i class="material-icons">refresh</i></a></li>
                    <li><a href="#!"><i class="material-icons">more_vert</i></a></li>
                </ul>
            </div>
    </nav>
    </div>
    <div class="container"><a href="#" data-activates="nav-mobile"
                              class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i
            class="material-icons">menu</i></a></div>

    <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0px);">
        <div class="red" style="line-height: 120px; text-align: center; color: white; font-size: xx-large">
            管理员
        </div>

        <li><a class="subheader">常用操作</a></li>
        <li class="bold active"><a href="__ROOT__/admin.php" class="waves-effect waves-teal"><i class="material-icons">book</i>文章管理</a>
        </li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">
            <i class="material-icons">format_list_bulleted</i>分类管理</a>
        </li>
        <li><a class="subheader">系统管理</a></li>
        <li class="bold active"><a href="#" class="waves-effect waves-teal"><i class="material-icons">book</i>系统设置</a>
        </li>
        <li class="bold active"><a href="#" class="waves-effect waves-teal"><i class="material-icons">book</i>清除缓存</a>
        </li>
        <li class="bold active"><a href="#" class="waves-effect waves-teal"><i class="material-icons">book</i>数据备份</a>
        </li>
        <li class="bold active"><a href="#" class="waves-effect waves-teal"><i class="material-icons">book</i>数据还原</a>
        </li>
        <li><a class="subheader">高级操作</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="">
                    <a class="collapsible-header waves-effect"><i class="material-icons">keyboard_arrow_down</i>参与贡献</a>
                    <div class="collapsible-body" style="display: none;">
                        <ul>
                            <li><a class="waves-effect"
                                   href="https://github.com/adymilk/materializecss-admin-management" target="_blank"><i
                                    class="material-icons">info</i>贡献代码</a></li>
                            <li><a class="waves-effect"
                                   href="https://github.com/adymilk/materializecss-admin-management/pulls"
                                   target="_blank"><i class="material-icons">code</i>代码评审页面</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect"><i class="material-icons">keyboard_arrow_down</i>社交网络</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a class="waves-effect" href="http://weibo.com/martincz" target="_blank"><i
                                    class="material-icons">people</i>Blog</a></li>
                            <li><a class="waves-effect" href="https://github.com/adymilk" target="_blank"><i
                                    class="material-icons">people</i>GitHub</a></li>
                            <li><a class="waves-effect" href="#!" target="_blank"><i class="material-icons">people</i>Google+</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>
