<extend name="Temp/base"/>
<block name="content">
    <main>
        <table style="width: 70%;" class="hide-on-small-only">
            <tr>
                <td style="float: right"><b>选择分类:</b></td>
                <td>
                    <select class="browser-default">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">选项 1</option>
                        <option value="2">选项 2</option>
                        <option value="3">选项 3</option>
                    </select>
                </td>
                <form action="__ROOT__/admin.php/Home/Search/index" method="get">
                    <td style="float: right"><b>关键词:</b></td>
                    <td>
                        <input name="keywords" id="keywords" type="text" placeholder="关键词"
                               style="text-align: center; margin-bottom: 0px">
                    </td>
                    <td><input type="submit" name="submit" value="搜索" class="red btn"></td>
                </form>
            </tr>

        </table>
        <table style="width: 30%;" class="hide-on-small-only">
            <tr>
                <td><a href="__ROOT__/admin.php/Home/User/newAddArticle"><i class="material-icons">add</i>新增文章</a>
                </td>
                <td><a href="#!"><i class="material-icons">delete</i>批量删除</a></td>
                <td><a href="#!"><i class="material-icons">update</i>更新排序</a></td>
            </tr>

        </table>

        <hr>
    <div class="row">
        <div class="col s12">
            <table class="bordered centered highlight responsive-table">
                <thead>
                <tr>
                    <th>
                        <input onclick="swapCheck()" type="checkbox" class="filled-in" id="filled-in-box"/><label
                            for="filled-in-box"></label>
                    </th>
                    <th>ID</th>
                    <th>发表时间</th>
                    <th>文章标题</th>
                    <th>作者</th>
                    <th>点击次数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <volist name="list" id="vo">
                    <tr>
                        <td>
                            <input type="checkbox" class="filled-in" id="{$vo.id}"/><label for="{$vo.id}"></label>
                        </td>
                        <td>{$vo.id}</td>
                        <td>{$vo.created_at}</td>
                        <td><a style="color: #000000" href="__ROOT__/admin.php/Home/User/reviewArticle?id={$vo.id}">{$vo.title}</a>
                        </td>
                        <td>{$vo.name}</td>
                        <td>1000+</td>
                        <td>
                            <a href="__ROOT__/admin.php/Home/User/deleteArticle?id={$vo.id}"><i class="material-icons">delete</i>删除</a>&nbsp;&nbsp;
                            <a href="__ROOT__/admin.php/Home/User/editArticle?id={$vo.id}"><i class="material-icons">edit</i>编辑</a>
                        </td>

                    </tr>
                </volist>

            </table>
            <script>
                //checkbox 全选/取消全选
                var isCheckAll = false;
                function swapCheck() {
                    if (isCheckAll) {
                        $("input[type='checkbox']").each(function () {
                            this.checked = false;
                        });
                        isCheckAll = false;
                    } else {
                        $("input[type='checkbox']").each(function () {
                            this.checked = true;
                        });
                        isCheckAll = true;
                    }
                }
            </script>
            <ul class="pagination">
                {$page}
            </ul>
        </div>
    </div>
</main>
</block>

